.naslov {
	color: #e91c10;
	font-size: 40px;
	opacity: 0.9;
}

.title{
	color: #e91c13;
}

body {
	background-image: url("ansgar-scheffold-jhPA2loSitU-unsplash.jpg");
	background-size: 100%;
}

body {
	font-family: arial;
	padding-left: 15px;
	padding-top: 5px;
	letter-spacing: 3px;
}

.ikona {
	float: right;
	border-radius: 7px;
}

.topnav {
	
	
	;
	overflow: hidden;
	

}
.topnav a{
float: left;
coloor: ;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;



}
.topnav a:hover{


}
.topnav a:active{


}
